<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tenjin Tech</title>
    <link href="Stylesheets/Styles.css" rel="stylesheet">
</head>

<body>
    <img src="OperatingSystem.jpeg" alt="Operating System" class="center">
    <div div id="myTopnav" class="topnav">
      <a href="index.html">Home</a>
      <a href="Lesson Plans.html">Lesson Plans</a>
      <a href="#Knowledge Base.html">Knowledge Base</a>
      <a href="#Contact.html">Contact</a>
      <a href="CourseWork.html">Operating System</a>
    </div>
    </div>
    
       <div id="mySidenav" class="sidenav">
      <a href="index.html" id="Home">Home</a>
      <a href="Lesson Plans.html" id="LessonPlans">Lesson Plans</a>
      <a href="KnowledgeBase.html" id="KnowledgeBase">Knowledge Base</a>
      <a href="#" id="Contact">Contact</a>
      <a href="CourseWork" id="CourseWork">Operating System</a>
    </div>
      
    <div id="mySidenav" class="sidenav">
      <a href="index.html" id="Home">Home</a>
      <a href="Lesson Plans.html" id="LessonPlans">Lesson Plans</a>
      <a href="KnowledgeBase" id="KnowledgeBase">Knowledge Base</a>
      <a href="Contact" id="Contact">Contact</a>
      <a href="CourseWork" id="Coursework">Course Work </a>
    </div>
    
    
  <h1>Operating System</h1>  
<ul>
<li>Operating System
  <ul> 
  <li><a href="">Change Background</a></li>
  <li><a href="">Change password</a></li>
  <li><a href="">(RTF)</a></li>
  </ul>
</li>
</div>

