<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tenjin Tech</title>
    <link href="Stylesheets/Styles.css" rel="stylesheet">
</head>

<body>
    <img src="OperatingSystem.jpeg" alt="Operating System" class="center" width="100" height="100">
    <div div id="myTopnav" class="topnav">
      <a href="index.html">Home</a>
      <a href="Lesson Plans.html">Lesson Plans</a>
      <a href="#Knowledge Base.html">Knowledge Base</a>
      <a href="#Contact.html">Contact</a>
    </div>
    </div>
    
       <div id="mySidenav" class="sidenav">
      <a href="index.html" id="Home">Home</a>
      <a href="Lesson Plans.html" id="LessonPlans">Lesson Plans</a>
      <a href="KnowledgeBase.html" id="KnowledgeBase">Knowledge Base</a>
      <a href="#" id="Contact">Contact</a>
    </div>
    
  <article class="main">
    <h1>Courses</h1> 
    
    <h2 class="courseHeader">Computer Basics</h2>
    <ul id="menu">              
      <li><a href="Tunnel.html">Shut Down Computer</a></li>
      <li><a href="Tunnel.html">Print Document</a></li>
      <li><a href="Tunnel.html">Perform File Management</a></li>
    </ul>
    
    <h2 class="courseHeader">Security and Phishing Awareness</h3>
    <ul id="menu">              
      <li><a href="Security.html">Phishing Level 1  </a></li>
      <li><a href="Security.html">Phishing Level 2    </a></li>
      <li><a href="Security.html">Phishing Level 3 </a></li>
  </article>
  


</div>

