<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tenjin Tech</title>
    <link href="Stylesheets/Styles.css" rel="stylesheet">
</head>


<body>
    
    <div div id="myTopnav" class="topnav">
      <a href="index.html">Home</a>
      <a href="Lesson Plans.html">Lesson Plans</a>
      <a href="#Knowledge Base">Knowledge Base</a>
      <a href="#Contact">Contact</a>
      <a href="#" id="OperatingSystem">Operating System</a>
    </div>
  
  <!--
    <div id="mySidenav" class="sidenav">
      <a href="index.html" id="Home">Home</a>
      <a href="Lesson Plans.html" id="LessonPlans">Lesson Plans</a>
      <a href="#" id="KnowledgeBase">Knowledge Base</a>
      <a href="#" id="Contact">Contact</a>
    </div>
    -->
    
<article class="main">
    <img src="Logo.jpg" alt="Tenjin Tech" class="center" width="100" height="100"> 
    <h1 id="top">Tenjin Tech!!</h1>  
    <p>Computers are a challenging component to the modern day to day life. But if used correctly, computers can benefit everyone. Tenpin tech strives to teach computer literacy to all those that want to learn.</p>
    <div class="dedicated">
    <p>Tenjin Tech is dedicated to improving computer literacy. Having an understanding of computers has been proven to increase your productivity and professionalism. These courses are fun and interactive, but will help you increase your computer literacy. The skills you will gain will be applicable in most walks of life. This is the age of technology, so computer literacy is essential. </p>

<div class="row">
<div class="column">
<img src="ComputerTraining.jpeg" alt="Training" width="125" height="200">
</div>
<div class="column">
<img src="ComputerLiteracy.jpeg" alt="Literacy" width="125" height="200">
</div>
<!--<div class="column">
</div>-->
</div>
</div>

    
<!-- Code for faqs --->
<h1 class="faq-heading">Common Questions</h1>
<section class="faq-container">
<div class="faq-one">
  
<!-- faq question -->
<h1 class="faq-page">What is this important?</h1>

 <!-- faq answer -->
<div class="faq-body">
<p>This is important because computers affect every facet of our lives and society on a global scale. People that are computer literate tend to be more producive and efficient. Our lesson plans will also allow people to expand their horizons and learn skills they might not acquire anywhere else</p>
  </div>
      </div>

<hr class="hr-line">
<div class="faq-two">
<!-- faq question -->
<h1 class="faq-page">How to create an account?</h1>

<!-- faq answer -->
<div class="faq-body">
<p>To create an account, you will click on the "Create an account" button in the upper right corner of the webpage. The only information that is needed is; birthday. email, full name, username, and password of your choosing</p>
</div>
  </div>
  
<hr class="hr-line">
<div class="faq-three">
<!-- faq question -->
<h1 class="faq-page">How to sign in?</h1>

<!-- faq answer -->
<div class="faq-body">
<p>To sign into your account, you will click the sign in button in the upper right corner of the webpage; you will need to enter your username and password.</p>
</div>
   </div>

<hr class="hr-line">
<div class="faq-four">
<!-- faq question -->
<h1 class="faq-page">What are the minimal tech requirements for the site?</h1>

<!-- faq answer -->
<div class="faq-body">
<p>The minimal tech requirements for the site are; i3 processor, 4GB of RAM, 128GB of storage, and Windows 8 and up.</p>
</div>
   </div>

<footer>
    <a href="#top">Back to Top</a>
</footer>
  </main>
  
<script type="text/javascript" src="/Senior-Design-Project/src/main/resources/templates/main.js"></script>

</body>
</html>