<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tenjin Tech</title>
    <link href="Stylesheets/Styles.css" rel="stylesheet">
</head>

<body>
    <img src="logo.jpg" alt="Tenjin Tech" class="center">
    <div div id="myTopnav" class="topnav">
      <a href="index.html">Home</a>
      <a href="Lesson Plans.html">Lesson Plans</a>
      <a href="#Knowledge Base.html">Knowledge Base</a>
      <a href="#Contact.html">Contact</a>
    </div>
    </div>
      
    <div id="mySidenav" class="sidenav">
      <a href="index.html" id="Home">Home</a>
      <a href="Lesson Plans.html" id="LessonPlans">Lesson Plans</a>
      <a href="KnowledgeBase.html" id="KnowledgeBase">Knowledge Base</a>
      <a href="Contact.html" id="Contact">Contact</a>
        </div>
  
    
  <h1>Lesson Plans</h1>  
<span class ="curriculm--content-length">...</span>
<div class="vertical-menu">
  <a href="CourseWork.html" id="Computer Basics">Computer Basics</a>
  <a href="CourseWork.html" id="Window Basics">Windows Basics</a>
  <a href="CourseWork.html" id="Operating Systems">Operating Systems</a>
  <a href="CourseWork.html" id="Hardware 1">Hardware</a>
  <a href="CourseWork.html" id="Software 1">Software</a>
  <a href="CourseWork.html" id="Internet 1">Internet</a>
</div>
