<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tenjin Tech</title>
    <link href="Stylesheets/Styles.css" rel="stylesheet">
</head>

<body>
    <img src="logo.jpg" alt="Tenjin Tech" class="center">
    <div div id="myTopnav" class="topnav">
      <a href="#Home">Home</a>
      <a href="#Lesson Plans">Lesson Plans</a>
      <a href="#Knowledge Base">Knowledge Base</a>
      <a href="#Contact">Contact</a>
      <a href="#" id="OperatingSystem">Operating System</a>
    </div>
      
    <div id="mySidenav" class="sidenav">
      <a href="index.html" id="Home">Home</a>
      <a href="Lesson Plans.html" id="LessonPlans">Lesson Plans</a>
      <a href="#" id="KnowledgeBase">Knowledge Base</a>
      <a href="#" id="Contact">Contact</a>
      <a href="#" id="OperatingSystem">Operating System</a>
    </div>
  
    
  <h1>Course Content</h1>  
<span class ="curriculm--content-length">...</span>
<div class="vertical-menu">
  <a href="#Computer Basics" id="ComputerBasics">Computer Basics</a>
  <a href="Windows Basics" id="WindowBasics">Windows Basics</a>
  <a href="Operating Systems" id="OperatingSystems">Operating Systems</a>
  <a href="#Hardware" id="Hardware">Hardware</a>
  <a href="#Software" id="Software">Software</a>
  <a href="#Internet" id="Internet">Internet</a>
</div>
