h1 
{
  font-size: 25px;
  text-align: center
  }

h2
{
  font-size: 25px;
  text-align: center
}

h3
{
   font-size: 25px;
  text-align: center 
}

p
{
  font-size: 18px;
  
}

body
{
    background-color:#C1C8E4;
    color: #000000;
    font-family: sans-serif, verdana;
    list-style-type: square;
    
}

.topnav 
{
  
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #5680E9;
  overflow-x: hidden;
}


/*.topnav:hover{
  width: 100%;
  
}*/
/* Fixed sidenav, full height */


/* Style the sidenav links and the dropdown button */
.topnav a, .dropdown-btn 
{
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  border: none;
  background: none;
  width:50%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.topnav a{
  display: inline;
  text-align: center;
  padding-top: 10px;
  border-left-style: solid;
  border-color: black;
  border-width: 2px
}

/* On mouse-over */
.topnav a:hover, .dropdown-btn:hover 
{
  color: #f1f1f1;
}

/* Main content */
.main 
{
  font-size: 20px; /* Increased text to enable scrolling */
  margin: 50px 15% auto 15%;
  padding: 0px 10px;
  background:white;
  border-radius: 20px;
}


/* Add an active class to the active dropdown button */
.active 
{
  background-color: gray;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container 
{
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down 
{
  float: right;
  padding-right: 8px;
}

#BackToTop 
{
  display: none; /* This will be changed to none once other elements are corrected */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border:none;
  outline:none;
  background-color:white;
  color:white;
  cursor:pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#BackToTop:hover 
{
  background-color: #555;
}


/* Style the links inside the sidenav */
#mySidenav a 
{
  position: absolute; /* Position them relative to the browser window */
  left: -150px; /* Position them outside of the screen */
  transition: .3s; /* Add transition on hover */
  padding: 5px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover 
{
  left: 0%; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#Home 
{
  top: 70px;
  background-color: #5680E9;
}

#LessonPlans 
{
  top: 130px;
  background-color: #24C2EF; /* Blue */
}

#KnowledgeBase 
{
  top: 190px;
  background-color: #8860D0; /* Red */
}

#mySidenav #KnowledgeBase{
  width: 200px;
  left: -200px;
}


#mySidenav #KnowledgeBase:hover
{
  left: 0;
}
#Contact 
{
  top: 250px;
  background-color: darkgray /* Purple Gray*/
}

/* Knowledge Base */
.vertical-menu
{
width: 300px;
flex-direction: column;
text-align: center;
margin: auto;
}

.vertical-menu a {
  background-color: #5680E9;
  color: black;
  display: block;
  padding: 12px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  border-style: solid;
}


.vertical-menu a:hover {
  background-color: #ccc;
}


.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}

#ComputerBasics
{
  color: #f1f1f1;
  position: absolute;
  top: 40px;
  background-color: #5680E9;
}

#WindowBasics
{
  color: #f1f1f1;
  top: 100px;
  position: absolute;
  background-color: #24C2EF; /* Blue */
}

#Hardware
{
  color: #f1f1f1;
  position: absolute;
  top: 160px;
  background-color: #8860D0; /* Red */
}

#Software
{
  color: #f1f1f1;
  position: absolute;
  top: 220px;
}

#Internet
{
  color: #f1f1f1;
  position: absolute;
  top:280px;
}

#CourseWork
{
  color: #f1f1f1;
  position: fixed;
  top: 340px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/* Two image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  float: right;
  clear: both;
}

.column {
  flex: 50%;
  padding: 5px;
}


.dedicated p{
  
  width: 50%;
  clear: both;
  display: inline-block;
}

/* Sign up button*/

/*add full-width input fields*/
	input[type=text],
	input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 2px solid #ccc;
		box-sizing: border-box;
	}
	/* set a style for all buttons*/
	button {
		background-color: #13B2F7;
		color: #FFFFFF;
		padding: 14px 20px;
    margin: 8px 0;
		cursor: pointer;
		text-align: center;
	}

	/*set styles for the cancel button*/
	.cancelbtn {
		padding: 14px 20px;
		background-color: #FF2E00;
	}
	/*float cancel and signup buttons and add an equal width*/
	.cancelbtn,
	.signupbtn {
		float: left;
		width: 50%;
			min-width: 95px;
	
	}
	/*add padding to container elements*/
	.container {
		padding: 16px;
	}
	/*define the modal’s background*/
	
	.modal {
		display: none;
		position: fixed;
		left: 0;
		top: 20px;
		width: 100%;
		height: 200%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.4);
	}
	/*define the modal-content background*/
	
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto 15% auto;
		border: 1px solid #888;
		width: 80%;
	}
	/*define the close button*/
	
	.close {
		position: absolute;
		right: 35px;
		top: 15px;
		color: #000;
		font-size: 40px;
		font-weight: bold;
	}
	/*define the close hover and focus effects*/
	
	.close:hover,
	.close:focus {
		color: red;
		cursor: pointer;
	}
	
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}
	
	@media screen and (max-width: 300px) {
		.cancelbtn,
		.signupbtn {
			width: 100%;
			
		}
	}
	
	/* Courses */
	#menu li
{
    display:block;
    list-style: none;
    background: #358FE9;
    border: 2px solid ;
    padding: 0;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
}

  #menu li a
{
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #000000;
}

.courseHeader{
  text-align: left;
}

.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}